<h2>Register youRoom</h2>
<% form_for(:project_room , :url => {:controller => 'youroom',:action => 'update',:project_id => @project}) do |f| %>
  <%= f.error_messages %>

<div class="box tabular">
  <table>
    <tr>
      <th align=right>youRoom URL</th>
      <td><%= link_to @room_url, @room_url ,:popup => true%></td>
    </tr>
    <tr>
      <th align=right> room id</th>
      <td><%= f.text_field :room_num ,:value => (@project_room.blank? || @project_room.room_num.nil?) ? '' : @project_room.room_num %></td>
    </tr>
    <tr>

      <th align=right> Always checked post to youRoom</th>
      <td><%= f.check_box :post_check, {:checked => @project_room.blank? ? false : @project_room.post_check}%></td>
    </tr>
  </table>
</div>


<%= f.submit((@project.nil? || @project.new_record?) ? l(:button_create) : l(:button_save), :disabled => @project.nil?) %>
<% end %>
